%% -*- erlang -*-
%% Config file for intrin application

%% 
{erl_opts, [debug_info, fail_on_warning]}.

{port_env, [
	    {"i686","CFLAGS", "$CFLAGS -msse4.1"},
	    {"x86_64","CFLAGS", "$CFLAGS -mavx -msse4.1"},
	    {"i386","CFLAGS", "$CFLAGS -msse4.1"},
	    {"arm","CFLAGS", "$CFLAGS -mfloat-abi=softfp -mfpu=neon"}
	    %% raspberry pi (VFPv2)
	    %% {"arm","CFLAGS", "$CFLAGS -mcpu=arm1176jzf-s -mfpu=vfp -mfloat-abi=hard"}
	   ]}.

{port_specs, [
	      {"(i686|x86_64|i386)", "priv/x86_nif.so", 
	       [
		"c_src/x86_util.c",
		"c_src/x86_nif.c" 
	       ]},

	      {"arm", "priv/neon_nif.so",
	       [
		"c_src/neon_util.c",
		"c_src/neon_nif.c" 
	       ]}

	     ]}.
